{%extends 'index.html'%}
{%load static%}
{% block content %}
<!--==========================
  About Us Section
============================-->
<section id="about">
  <div class="container">

    <header class="section-header">
      <h3>About Us</h3>
      <p>BrainsCubes is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age. </p>
    </header>

    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <p>

        </p>

        <div class="icon-box wow fadeInUp">
          <!--<i class="fa fa-shopping-bag"></i>-->
        <div class="icon" ><img src="{%static 'images/service.png'%}" alt="" style="width:45px;hight:45px"></div>
          <h4 class="title"><a href="">Service</a></h4>
          <p class="description">We offer an integrated portfolio of products, solutions, and services built around Digital, IoT, Cloud, Automation, Cybersecurity, Analytics, Infrastructure Management and SAP amongst others, to help enterprises reimagine their businesses for the digital age.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <!--<div class="icon"><i class="fa fa-photo"></i></div>-->
          <div class="icon" ><img src="{%static 'images/sapicon.png'%}" alt="" style="width:65px;hight:65px"></div>
          <h4 class="title"><a href="">SAP</a></h4>
          <p class="description">We provide business fit solutions through our products built on SAP Platform and SAP applications. On the SAP services side, we focus on SAP’s new dimension products including SAP CRM, SAP NetWeaver and SAP HCM.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <!--<div class="icon"><i class="fa fa-bar-chart"></i></div>--->
          <div class="icon" ><img src="{%static 'images/industriesicon.png'%}" alt="" style="width:65px;hight:65px"></div>
          <h4 class="title"><a href="">Industries</a></h4>
          <p class="description">Brainscube has been providing business fit and cost-effective solutions to its customers spanning four Continents and Industries like Utilities, Consumer Goods Industry, Retail, and Oils & gases. </p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
        <img src="{%static 'img/about-img.svg' %}" class="img-fluid" alt="">
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6 wow fadeInUp">
        <img src="{%static 'img/about-extra-1.svg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>BrainsCubes is a next-generation global technology company.</h4>
        <p>
          BrainsCubes technology products, services and engineering are built on four decades of innovation, with a world-renowned management philosophy, a strong culture of invention and risk-taking, and a relentless focus on customer relationships. With a worldwide network of R&D, innovation labs and delivery centers, teams working in different countries, Brainscube intends, serving leading enterprises across key industries.
        </p>
      </div>
    </div>
<!---
    <div class="row about-extra">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <img src="{%static 'img/about-extra-2.svg'%}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
        <p>
         Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.
        </p>
        <p>
          Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
        </p>
        <p>
          Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
        </p>
      </div>

    </div>
--->
  </div>
</section><!-- #about -->
{%endblock%}
