{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">Development on HCP</a></h4>
     <img src="{%static 'images/cloudhana.jpg'%}" alt="Avatar" style = 'width: 40%;height: 40%;border-radius: 10%;'>
    <p class="description">Development of add on solutions on HCP for end customers or product companies. This includes design, development and support.</p>

    <h4 class="title"><a href="">Integration with HCI</a></h4>
    <img src="{%static 'images/inte_with_hcl.jpg'%}" alt="Avatar" style = 'width: 40%;height: 40%;border-radius: 10%;'>
   <p class="description">Integration services between cloud to cloud or on-premise solutions with HCI. We bring expertise in design, development and maintenance of integration solutions.</p>

   <h4 class="title"><a href="">Development on HANA</a></h4>
   <img src="{%static 'images/saphana.jpg'%}" alt="Avatar" style = 'width: 40%;height: 40%;border-radius: 10%;'>
  <p class="description">Whether it is adapting your SAP code to get maximum benefits from HANA or custom development on HANA for new scenarios, our HANA experts can provide quality support.</p>
  </div>
  <img src="{%static 'images/servicecloudahana.jpg'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
</div>
{%endblock%}
