{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">CRM</a></h4>
     <img src="{%static 'images/1.SAP-Cloud-Data-Services-and-Data-Management-1.jpg'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description">Customers are the driving force of any company or business. Enterprises must redefine the way they engage customers to better align with observed buying behaviors. Enterprises must answer questions such as: Who makes the purchasing decision? Why is the purchase being made? What budget does the customer have? Once a customer’s key parameters are understood, then the relationship with that customer needs to be nurtured over its lifetime in order for it to last and produce results.</p>
<p class="description">At the heart of a business transactions is a customer relationship that further manifests itself into an agreement. To compete for mindshare and share of wallet, customer engagement needs to be strategic and scientific. Nurturing clients and aligning with their expectations is the only way to success.</p>
<p class="description">Customer Relationship Management (CRM) supports your customer lifecycle management strategy and execution. CRM enables an enterprise across their sales, marketing, support, and service departments (or stages) to ensure that their customers have a consistent experience with your organization no matter whom, when, or where they interact with you.</p>
<p class="description">BrainsCubes offers business and technology solutions for customer engagement. Our solutions help enterprises understand their buyers and associated behaviors. We offer industry-specific best practices and solutions that help enterprises manage their entire customer lifecycle. BrainsCubes can manage the breadth and depth of customer engagement implementations to help achieve increase return on investment.</p>
<p>We enable enterprises to:</p>
<ul>
  <li>Provide targeted, personalized, and differentiated products and services</li>
    <li>A 360 degree view of the customer in order to better understand behavior and trends</li>
    <li>An immersive customer experience across multiple channels</li>
    <li>Promotion of brand and mindshare capitalization</li>
    <li>Create seamless, integrated, cross-channel experiences across the customer value chain covering sales, marketing, support, and services</li>
    <li>Provide omni-channel presence through in-person, voice, and mobile channels</li>
</ul>
<p>BrainsCubes’s CRM practice provides end-to-end capabilities, covering:</p>
<ul>
  <li>Consulting and advisory</li>
    <li>Process improvement</li>
    <li>Digital transformation</li>
    <li>Blueprinting</li>
    <li>Implementation</li>
    <li>Support and Maintenance</li>
    <li>Mobility</li>
</ul>
<p>
BrainsCubes’s CRM practice focuses on revenue growth and profitability enhancement through:
</p>
<ul>
  <li>Customer Sales Transformation</li>
    <li>Configure, Price, and Quote</li>
    <li>Customer Service Excellence</li>
    <li>Data Driven Analytics and Insights</li>
</ul>
  </div>
</div>
{%endblock%}
