{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">Custom Development</a></h4>
     <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description">Brainscubes large technical team brings extensive experience in variety of SAP technologies including ABAP, OO ABAP, WebDynpro and the new technologies like SAP UI5, NetWeaver Gateway, HANA, HCP, HCI.<br>Brainscubes team has executed several complex projects with high scalability and performance. We have developed successful products for global IT companies.</p>
    <p>SAP ABAP / WebDynpro:</p>
    <ul>
      <li>ABAP has always been the crux at BrainsCubes.. Having participating comprehensively in several SAP and SAP based product development, the team brings in-depth expertise in ABAP, OOABAP, and WebDynpro.</li>
    </ul>
    <p>SAP UI5 / Gateway:</p>
    <ul>
      <li>Technical developments on new dimension tools has been the strength and one of the differentiating factors at BrainsCubes. An early adopter of SAP UI5 technology, we got two of our products SAP certified. We bring to the table a strong technical team with vast experience in projects successfully executed across the globe.</li>
    </ul>
    <p>SAP PI/BPM:</p>
    <ul>
      <li>Integration between different systems, building business processes using SAP BPM, BRM is a strong competency of BrainsCubes. We can execute on-premise or cloud integration comprehensively. Rule based modelling, complex workflows and integration with the core ERP systems to orchestrate closed loop processes are some key aspects.</li>
    </ul>

    <p>SAP Basis:</p>
    <ul>
      <li>We have a strong basis team that can help actively support you both during setup and implementation process as well as during the operational process to keep your systems tuned and optimized for best results. OS/DB migrations, version upgrades, archiving, migration to HANA are commonly executed activities by our expert Basis team on a regular mode</li>
    </ul>
    <p>Consulting:</p>
    <ul>
      <li>We work with customers identifying right architecture and solution for custom development, integration, mobility etc.</li>
    </ul>
    <p>Development:</p>
    <ul>
      <li>We do complete development including design, cutover and roll out. Our experts also support customer development on time and material basis.</li>
    </ul>
    <p>Audit:</p>
    <ul>
      <li>Our team supports Audit of past development from architecture, scalability, security, extensibility perspective and provide recommendations accordingly.</li>
    </ul>
    <p>Support:</p>
    <ul>
      <li>Our support team provides continuous support for minor and major enhancements cost effectively with a global delivery model.</li>
    </ul>

  </div>
</div>
{%endblock%}
