{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">Fiori & mobility</a></h4>
     <img src="{%static 'images/sap fiori image.jpg' %}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description">Mobility is redefining the boundaries of user experience with anytime and anywhere availability. The world has changed with the advent of smart mobile devices. The adoption of mobility continues to grow exponentially. Everyone now has a mobile and/or a tablet device. Organizations need to capitalize on these pervasive channels. Organizations need a partner that can help them shape and execute their mobile strategy and realize the goal of building great products and experiences.</p>
    <p class="description">Mobile devices enable collaboration, connectivity, and communication throughout an organization’s value chain, across customers, partners, and employees. Organizations can now improve interactivity and experiences in real-time. Organizations have a lot to benefit from a strong mobile strategy.</p>
    <p>BrainsCubes can help organization across many facets of mobility:</p>
    <ul>
      <li>Employee Services: Focused on productivity improvement through access to workflow, information, reporting, and more.</li>
      <li>Field Services: Focused on seamless and easy access to critical business information and data.</li>
      <li>Customer Services: Focused on providing unique customer experiences through easy and personal interaction channels.</li>
    </ul>
    <br>
    <p>Areas covered:</p>
    <ul>
      <li>Consulting and Advisory</li>
        <li>Process Improvement</li>
        <li>Managed Mobility Services</li>
        <li>Mobile Application Development</li>
        <li>Enterprise Architecture</li>
        <li>Data Management</li>
    </ul>
<br>
<p>Industry Focus:</p>
    <ul>
      <li>Banking & Financial Services</li>
        <li>Insurance</li>
        <li>Manufacturing</li>
        <li>Retail</li>
        <li>Transportation & Logistics</li>
        <li>Automotive</li>
        <li>Life sciences</li>
        <li>Pharmaceuticals</li>
        <li>Engineering Construction & Operations</li>

    </ul>


  </div>
</div>
{%endblock%}
