{%extends 'index.html'%}
{%load static%}
{% block title %}
    Home
{% endblock %}
{% block content %}
<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
  <img src="{% static 'img/intro-img1.svg' %}" alt="" class="img-fluid">
     <!--  <img src="img/intro-img.svg" alt="" class="img-fluid"> -->
    </div>

    <div class="intro-info">
<!--  <img src="{%static 'img/intro-img.jfif' %}" alt="" class="img-fluid">-->
      <h2>Need<br><span>SAP - Solutions</span><br>for your business!</h2>

      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#services" class="btn-services scrollto">Our Services</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">
<hr>
  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>BrainsCubes is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age. </p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>

          </p>

          <div class="icon-box wow fadeInUp">
            <!--<i class="fa fa-shopping-bag"></i>-->
          <div class="icon" ><img src="{%static 'images/service.png'%}" alt="" style="width:45px;hight:45px"></div>
            <h4 class="title"><a href="">Service</a></h4>
            <p class="description">We offer an integrated portfolio of products, solutions, and services built around Digital, IoT, Cloud, Automation, Cybersecurity, Analytics, Infrastructure Management and SAP amongst others, to help enterprises reimagine their businesses for the digital age.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <!--<div class="icon"><i class="fa fa-photo"></i></div>-->
            <div class="icon" ><img src="{%static 'images/sapicon.png'%}" alt="" style="width:65px;hight:65px"></div>
            <h4 class="title"><a href="">SAP</a></h4>
            <p class="description">We provide business fit solutions through our products built on SAP Platform and SAP applications. On the SAP services side, we focus on SAP’s new dimension products including SAP CRM, SAP NetWeaver and SAP HCM.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <!--<div class="icon"><i class="fa fa-bar-chart"></i></div>--->
            <div class="icon" ><img src="{%static 'images/industriesicon.png'%}" alt="" style="width:65px;hight:65px"></div>
            <h4 class="title"><a href="">Industries</a></h4>
            <p class="description">Brainscube has been providing business fit and cost-effective solutions to its customers spanning four Continents and Industries like Utilities, Consumer Goods Industry, Retail, and Oils & gases. </p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="{%static 'img/about-img.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="{%static 'img/about-extra-1.svg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>BrainsCubes is a next-generation global technology company.</h4>
          <p>
            BrainsCubes technology products, services and engineering are built on four decades of innovation, with a world-renowned management philosophy, a strong culture of invention and risk-taking, and a relentless focus on customer relationships. With a worldwide network of R&D, innovation labs and delivery centers, teams working in different countries, Brainscube intends, serving leading enterprises across key industries.
          </p>
        </div>
      </div>
<!---
      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="{%static 'img/about-extra-2.svg'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
          <p>
           Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.
          </p>
          <p>
            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
          </p>
          <p>
            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
          </p>
        </div>

      </div>
--->
    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Services</h3>
        <p>BrainsCubes is a next-generation global technology company.</p>
      </header>

      <div class="row">
<!---
        <div class="col-md-6  col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
  <!--       <h4 class="float-right title" ><a href="/sap">SAP UI5
             <img src="{%static 'images/UI5 Thumbnail.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
             </a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>



        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
          <!--  <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>-->
  <!--           <h4 class="float-right title"><a href="/fiori">FIORI
            <img src="{%static 'images/FIORI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
            </a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
-->
        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
          <!--   <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>-->
            <h4 class="float-right title"><a href="/hana">Fiori & mobility
            <img src="{%static 'images/sap fiori image.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
            </a></h4>
            <p class="description">Mobility is redefining the boundaries of user experience with anytime and anywhere availability. The world has changed with the advent of smart mobile devices. The adoption of mobility continues to grow exponentially. </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
          <!--   <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>-->
            <h4 class="float-right title"><a href="/cloud">CRM
            <img src="{%static 'images/1.SAP-Cloud-Data-Services-and-Data-Management-1.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
            </a></h4>
            <p class="description">Customers are the driving force of any company or business. Enterprises must redefine the way they engage customers to better align with observed buying behaviors. </p>
            <br>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
          <!--   <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>-->
            <h4 class="float-right title"><a href="/cpi">Custom Development
            <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
            </a></h4>
            <p class="description">Brainscubes large technical team brings extensive experience in variety of SAP technologies including ABAP, OO ABAP, WebDynpro and the new technologies like SAP UI5, NetWeaver Gateway, HANA, HCP, HCI.</p>
            <br>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
          <!--   <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>-->
            <h4 class="float-right title"><a href="/success">SuccessFactors
            <img src="{%static 'images/successfactors.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
            </a></h4>
            <p class="description"><b>SAP SuccessFactors HXM Suite</b>At its core, the SAP SuccessFactors HXM Suite is a global, cloud-based human resource management software system.</p>
            <br>  <br>
          </div>
        </div>
      </div>
              <div class="row">
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                  <!--   <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
                    <h4 class="float-right title"><a href="/sale">SAP HCM
                    <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                    </a></h4>
                    <p class="description">We focus on Management consulting & advisory, Process optimization, Implementation and transformation, Support and maintenance, Mobility,	Analytics and business intelligence.</p>
                  </div>
                </div>

                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                  <!--   <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>-->
                    <h4 class="float-right title"><a href="/c4c">Cloud HANA services
                    <img src="{%static 'images/cloudhana.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                    </a></h4>
                    <p class="description">Development of add on solutions on HCP for end customers or product companies. This includes design, development and support.</p>
                    <br>
                  </div>
                </div>

                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                    <!-- <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>-->
                    <h4 class="float-right title"><a href="/java">E-Recruitment & Talent Management
                    <img src="{%static 'images/sap fiori image.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                    </a></h4>
                    <p class="description">E-recruitment, also known as online recruitment, is the practice of using technology and in particular Web-based resources for tasks involved with finding, attracting, assessing,interviewing and hiring new personnel.</p>
                  </div>
                </div>
<!--
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                  <!--   <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>-->
      <!--               <h4 class="float-right title"><a href="/cloudcomputing">Cloud Computing
                    <img src="{%static 'images/cloud services.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                    </a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                    <br>
                  </div>
                </div>
-->
              </div>

    </div>
  </section><!-- #services -->

  <!--==========================
    Why Us Section
  ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>BrainsCubes is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age.</p>
      </header>

      <div class="row row-eq-height justify-content-center">

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
          <!--    <i class="fa fa-diamond"></i>-->
          <div class="icon" ><img src="{%static 'images/sapicon.png'%}" alt="" style="width:75px;hight:75px"></div>

            <div class="card-body">
              <h5 class="card-title">SAP</h5>
              <p class="card-text">We provide business fit solutions through our products built on SAP Platform and SAP applications. On the SAP services side, we focus on SAP’s new dimension products including SAP CRM, SAP NetWeaver and SAP HCM.</p>
            <!--  <a href="#" class="readmore">Read more </a>-->
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
              <!--<i class="fa fa-language"></i>-->
              <div class="icon" ><img src="{%static 'images/service.png'%}" alt="" style="width:75px;hight:75px"></div>

        <div class="card-body">
              <h5 class="card-title">Services</h5>
              <p class="card-text">We offer an integrated portfolio of products, solutions and services built around Digital, IoT, Cloud, Automation, Cybersecurity, Analytics, Infrastructure Management and SAP amongst others, to help enterprises reimagine their businesses for the digital age.</p>
              <!--  <a href="#" class="readmore">Read more </a>-->
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
<!--              <i class="fa fa-object-group"></i>-->
              <div class="icon" ><img src="{%static 'images/industriesicon.png'%}" alt="" style="width:75px;hight:75px"></div>

            <div class="card-body">
              <h5 class="card-title">Industries</h5>
              <p class="card-text">Brainscubes  has been providing business fit and cost-effective solutions to its customers spanning four Continents and Industries like Utilities, Consumer Goods Industry, Retail, and Oils & gases.</p>
              <!--  <a href="#" class="readmore">Read more </a>-->
            </div>
          </div>
        </div>

      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">274</span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">421</span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,364</span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">20</span>
          <p>Hard Workers</p>
        </div>

      </div>

    </div>
  </section>

  <!--==========================
    Portfolio Section
  ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{%static 'images/cloud services.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 1</a></h4>
              <p>App</p>
              <div>
                <a href="{%static 'img/portfolio/app1.jpg'%}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/web3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 3</a></h4>
              <p>Web</p>
              <div>
                <a href="{%static 'img/portfolio/web3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/app2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 2</a></h4>
              <p>App</p>
              <div>
                <a href="{%static 'img/portfolio/app2.jpg'%}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/card2.jpg'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 2</a></h4>
              <p>Card</p>
              <div>
                <a href="{%static 'img/portfolio/card2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/web2.jpg'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 2</a></h4>
              <p>Web</p>
              <div>
                <a href="{%static 'img/portfolio/web2.jpg'%}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/app3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 3</a></h4>
              <p>App</p>
              <div>
                <a href="{%static 'img/portfolio/app3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/card1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 1</a></h4>
              <p>Card</p>
              <div>
                <a href="{%static 'img/portfolio/card1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/card3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 3</a></h4>
              <p>Card</p>
              <div>
                <a href="{%static 'img/portfolio/card3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{%static 'img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 1</a></h4>
              <p>Web</p>
              <div>
                <a href="{%static 'img/portfolio/web1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #portfolio -->

  <!--==========================
    Clients Section
  ============================-->
  <section id="testimonials" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>
{%load static%}
      <div class="row justify-content-center">
        <div class="col-lg-8">

          <div class="owl-carousel testimonials-carousel wow fadeInUp">

            <div class="testimonial-item">
              <img src="{%static 'img/testimonial-1.jpg'%}" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="{%static 'img/testimonial-2.jpg' %}" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="{%static 'img/testimonial-3.jpg' %}" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="{%static 'img/testimonial-4.jpg' %}" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="{%static 'img/testimonial-5.jpg' %}" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              </p>
            </div>

          </div>

        </div>
      </div>


    </div>
  </section><!-- #testimonials -->

  <!--==========================
    Team Section
  ============================-->
  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>Team</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="{%static 'img/team-1.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="{%static 'img/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="{%static 'img/team-3.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="{%static 'img/team-4.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
    Clients Section
  ============================-->
  <section id="clients" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3>Our CLients</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-5.png'%}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-7.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{%static 'img/clients/client-8.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>

  </section>
  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row wow fadeInUp">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14672.491461036794!2d72.6348924!3d23.1657154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41ab0894574e3240!2sSunshine%20Heights%202!5e0!3m2!1sen!2sin!4v1595522200712!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <!--
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>-->
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-4 info">
              <i class="ion-ios-location-outline"></i>
              <p>Sunshine Heights I,Opp. Nexa Showroom ,
                 Koba Gandhinagar Highway.<br>
                 Gandhinagar - Gujarat 382421</p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-email-outline"></i>
              <p>info@brainscubes.com</p>



            </div>
            <div class="col-md-6 info">
              <i class="ion-ios-telephone-outline"></i>
              <p>+91-9039141007</p>
            </div>
          </div>

          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action=" /" method="post" onsubmit="return executeOnSubmit();">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

            <div class="text-center"><button type="submit" name="submit" value="submit" title="Send Message">Send Message</button></div>
            <div>

          </form>
        </div>
<script>

$('#itemsJson').val(JSON);
 {% if thank %}
   alert('Thanks for contacting with us.Our team will contact to you as soon as possible.');
   localStorage.clear();
   document.location = "/";
   {% endif %}
   </script>
   {% include 'chat.html'%}
        </div>

      </div>

    </div>
  </section>
  <!-- #contact -->

<!--
  <div id="sfcax13rlyy4frejhd4k59ajl5855yt26nz"></div>
  <script type="text/javascript" src="https://counter3.stat.ovh/private/counter.js?c=ax13rlyy4frejhd4k59ajl5855yt26nz&down=async" async></script>
  <noscript><a href="https://www.freecounterstat.com" title="free counters for websites"><img src="https://counter3.stat.ovh/private/freecounterstat.php?c=ax13rlyy4frejhd4k59ajl5855yt26nz" border="0" title="free counters for websites" alt="free counters for websites"></a></noscript>
-->
  <div id="sfcl5hre19grzy5kkuxz95zkllk7s8bnzfh"></div><script type="text/javascript" src="https://counter3.stat.ovh/private/counter.js?c=l5hre19grzy5kkuxz95zkllk7s8bnzfh&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="free stat counter"><img src="https://counter3.stat.ovh/private/freecounterstat.php?c=l5hre19grzy5kkuxz95zkllk7s8bnzfh" border="0" title="free stat counter" alt="free stat counter"></a></noscript>

</main>
{%endblock%}
