{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">E-Recruitment & Talent Management</a></h4>
     <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description">E-recruitment, also known as online recruitment, is the practice of using technology and in particular Web-based resources for tasks involved with finding, attracting, assessing,interviewing and hiring new personnel.</p>
    <p class="description">
At Brainscubes we make the processes involved more efficient and effective, as well as less expensive. Online recruitment can reach a larger pool of potential employees and facilitate the selection process.
</p>
<p>The online promotion of an organization as a desirable place to work, through the corporate website or other venues, is one element of e-recruitment. OUR E-recruitment software and systems are available as standalone applications, product suites and services. A recruitment management system is an integrated product suite or portal that streamlines and automates the processes involved.</p>
  </div>
</div>
{%endblock%}
