{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">SAP HCM</a></h4>
     <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description">We focus on:</p>
    <ul>
      <li>Management consulting & advisory</li>
        <li>Process optimization</li>
        <li>Implementation and transformation</li>
        <li>Support and maintenance</li>
        <li>Mobility</li>
        <li>Analytics and business intelligence</li>
        <li>Employee and manager self-service</li>
    </ul>
  </div>
</div>
{%endblock%}
