{%extends 'index.html'%}
{%load static%}
{% block content %}

<!--==========================
  Services Section
============================-->
<section id="services" class="section-bg">
  <div class="container">

    <header class="section-header">
      <h3>Services</h3>
      <p>BrainsCubes is a next-generation global technology company.</p>
    </header>

    <div class="row">
<!---
      <div class="col-md-6  col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
<!--       <h4 class="float-right title" ><a href="/sap">SAP UI5
           <img src="{%static 'images/UI5 Thumbnail.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
           </a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
      </div>



      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
        <!--  <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>-->
<!--           <h4 class="float-right title"><a href="/fiori">FIORI
          <img src="{%static 'images/FIORI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
          </a></h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
      </div>
-->
      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
        <!--   <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>-->
          <h4 class="float-right title"><a href="/hana">Fiori & mobility
          <img src="{%static 'images/sap fiori image.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
          </a></h4>
          <p class="description">Mobility is redefining the boundaries of user experience with anytime and anywhere availability. The world has changed with the advent of smart mobile devices. The adoption of mobility continues to grow exponentially. </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
        <!--   <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>-->
          <h4 class="float-right title"><a href="/cloud">CRM
          <img src="{%static 'images/1.SAP-Cloud-Data-Services-and-Data-Management-1.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
          </a></h4>
          <p class="description">Customers are the driving force of any company or business. Enterprises must redefine the way they engage customers to better align with observed buying behaviors. </p>
          <br>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
        <!--   <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>-->
          <h4 class="float-right title"><a href="/cpi">Custom Development
          <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
          </a></h4>
          <p class="description">Brainscubes large technical team brings extensive experience in variety of SAP technologies including ABAP, OO ABAP, WebDynpro and the new technologies like SAP UI5, NetWeaver Gateway, HANA, HCP, HCI.</p>
          <br>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
        <!--   <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>-->
          <h4 class="float-right title"><a href="/success">SuccessFactors
          <img src="{%static 'images/successfactors.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
          </a></h4>
          <p class="description"><b>SAP SuccessFactors HXM Suite</b>At its core, the SAP SuccessFactors HXM Suite is a global, cloud-based human resource management software system.</p>
          <br>  <br>
        </div>
      </div>
    </div>
            <div class="row">
              <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                <!--   <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
                  <h4 class="float-right title"><a href="/sale">SAP HCM
                  <img src="{%static 'images/CPI.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                  </a></h4>
                  <p class="description">We focus on Management consulting & advisory, Process optimization, Implementation and transformation, Support and maintenance, Mobility,	Analytics and business intelligence.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                <!--   <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>-->
                  <h4 class="float-right title"><a href="/c4c">Cloud HANA services
                  <img src="{%static 'images/cloudhana.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                  </a></h4>
                  <p class="description">Development of add on solutions on HCP for end customers or product companies. This includes design, development and support.</p>
                  <br>
                </div>
              </div>

              <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                  <!-- <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>-->
                  <h4 class="float-right title"><a href="/java">E-Recruitment & Talent Management
                  <img src="{%static 'images/sap fiori image.jpg'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                  </a></h4>
                  <p class="description">E-recruitment, also known as online recruitment, is the practice of using technology and in particular Web-based resources for tasks involved with finding, attracting, assessing,interviewing and hiring new personnel.</p>
                </div>
              </div>
<!--
              <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                <!--   <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>-->
    <!--               <h4 class="float-right title"><a href="/cloudcomputing">Cloud Computing
                  <img src="{%static 'images/cloud services.png'%}" alt="Avatar" style = 'width: 365px;height: 200px;border-radius: 10%;'>
                  </a></h4>
                  <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                  <br>
                </div>
              </div>
-->
            </div>

  </div>
</section><!-- #services -->


{%endblock%}
