{%extends 'index.html'%}
{%load static%}

{% block content %}
<div class="col-md-1 col-lg-12 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <div class="box" style='margin-bottom: 5%;margin-top: 8%;'>
    <!--<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
    <h4 class="title"><a href="">SuccessFactors</a></h4>
     <img src="{%static 'images/successfactors.png'%}" alt="Avatar" style = 'width: 50%;height: 50%;border-radius: 10%;'>
    <p class="description"><b>SAP SuccessFactors HXM Suite,</b>
At its core, the SAP SuccessFactors HXM Suite is a global, cloud-based human resource management software system, but it is evolving to help people and businesses thrive in the experience economy.
</p>
<p>Employee Experience Management:</p>
<ul>
  <li>Discover solutions for employee engagement, lifecycle feedback, staff survey analysis, and benefits package optimization.
    <br><b><i>(Employee experience software)</i></b>
  </li>
</ul>

<p>Core HR and Payroll:</p>
<ul>
  <li>Learn about our global HRIS as well as software for payroll, benefits admin, time and attendance, HR help desk, and more.
    <br><b><i>(Core HR and payroll software)</i></b>
  </li>
</ul>

<p>Talent Management:</p>
<ul>
  <li>Browse tools for recruiting, onboarding, performance management, compensation, learning, and succession and development.
    <br><b><i>(Talent management software)</i></b>
  </li>
</ul>

<p>HR Analytics and Workforce Planning:</p>
<ul>
  <li>Read about our powerful, embedded HR analytics and reporting tools – and browse strategic and operational HR planning software.
  </li>
</ul>

  </div>
</div>
{%endblock%}
